Repository Bonk-Corporation/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black, codespell -i 3 -w, gdformat

- | Removed useless log
  frontend/src/components/Profile/FriendCard.jsx
Due: codespell -i 3 -w

+ | Handled password change on front
  frontend/src/components/Profile/ProfileCard.jsx
Due: codespell -i 3 -w

+ | Added endpoint to delete user
  backend/ponk/api.py
Due: black, codespell -i 3 -w

+ | Added button to delete profile
  frontend/src/components/Profile/ProfileCard.jsx
Due: codespell -i 3 -w

+ | Added legal notice
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/index.jsx
  frontend/src/pages/LegalNotice/LegalNotice.jsx
Due: codespell -i 3 -w

+ | Translated the navbar in french and breton
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/index.jsx
  frontend/src/scripts/languages.js
Due: prettier --write, codespell -i 3 -w

~ | Whole site is language modulable
  frontend/src/components/Navbar/LogCard.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Profile/FriendCard.jsx
  frontend/src/components/Profile/FriendList.jsx
  frontend/src/components/Profile/GameHistory.jsx
  frontend/src/components/Profile/Level.jsx
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/components/Shop/ItemSelection.jsx
  frontend/src/components/Shop/ShopItem.jsx
  frontend/src/components/Tournament/InvitationCard.jsx
  frontend/src/components/Tournament/PlayerCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Auth/Signup.jsx
  frontend/src/pages/Games/Bonk.jsx
  frontend/src/pages/Games/Pong.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Shop/index.jsx
  frontend/src/pages/Tournament/Menu.jsx
  frontend/src/pages/Tournament/Room.jsx
  frontend/src/pages/_404.jsx
  frontend/src/scripts/languages.js
Due: prettier --write, codespell -i 3 -w

+ | Added french and breton translations
  frontend/src/scripts/languages.js
Due: prettier --write, codespell -i 3 -w

+ | Language accessible on log pages
  frontend/src/components/Navbar/Navbar.jsx
Due: codespell -i 3 -w

+ | Translated chat
  frontend/src/components/Chat/Chat.jsx
  frontend/src/pages/Games/Bonk.jsx
  frontend/src/pages/Games/Pong.jsx
  frontend/src/scripts/languages.js
Due: prettier --write, codespell -i 3 -w

~ | Fix migrations
  backend/ponk/migrations/0001_initial.py
  backend/ponk/migrations/0002_shopitems_remove_user_display_name_user_avatar_and_more.py
  backend/ponk/migrations/0003_user_skins.py
  backend/ponk/migrations/0004_user_auth_alter_user_email.py
  backend/ponk/migrations/0005_rename_auth_user_auth_method.py
  backend/ponk/migrations/0006_alter_user_avatar_alter_user_level_and_more.py
  backend/ponk/migrations/0007_alter_user_skins.py
  backend/ponk/migrations/0008_alter_user_skins.py
  backend/ponk/migrations/0009_gamehistory_xp.py
  backend/ponk/migrations/0009_user_selected_skin.py
  backend/ponk/migrations/0010_user_citation_alter_user_selected_skin.py
  backend/ponk/migrations/0010_user_last_online_alter_user_selected_skin.py
  backend/ponk/models.py
Due: black, codespell -i 3 -w

~ | Moved pong to frontend
  frontend/pong-client/.appveyor.yml
  frontend/pong-client/.github/dependabot.yml
  frontend/pong-client/.gitignore
  frontend/pong-client/.travis.yml
  frontend/pong-client/Cargo.toml
  frontend/pong-client/LICENSE_APACHE
  frontend/pong-client/LICENSE_MIT
  frontend/pong-client/README.md
  frontend/pong-client/index.html
  frontend/pong-client/index.js
  frontend/pong-client/package-lock.json
  frontend/pong-client/package.json
  frontend/pong-client/pnpm-lock.yaml
  frontend/pong-client/src/game.rs
  frontend/pong-client/src/lib.rs
  frontend/pong-client/src/render.rs
  frontend/pong-client/webpack.config.js
  frontend/pong-server/Cargo.lock
  frontend/pong-server/Cargo.toml
  frontend/pong-server/src/input.rs
  frontend/pong-server/src/main.rs
Due: prettier --write, codespell -i 3 -w

+ | Added id and name state on Pong play button
  frontend/src/components/utils/CTA.jsx
  frontend/src/pages/Games/Pong.jsx
Due: codespell -i 3 -w

~ | Rename lipong to pong-client
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pong-client/Cargo.toml
  frontend/pong-client/package-lock.json
Due: codespell -i 3 -w

~ | Fix vite probleme
  frontend/package.json
Due: codespell -i 3 -w

~ | Changed vite config, don't work
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pong-client/src/lib.rs
  frontend/src/pages/Games/Pong.jsx
  frontend/vite.config.js
  frontend/webpack.config.js
Due: prettier --write, codespell -i 3 -w

~ | Move static directories
  backend/ponk/settings.py
  docker-compose.yml
Due: black, codespell -i 3 -w

~ | Still trying to fix the link between wasm and Vite
  frontend/pnpm-lock.yaml
  frontend/pong-client/package-lock.json
  frontend/pong-client/src/lib.rs
  frontend/pong-server/src/input.rs
  frontend/pong-server/src/main.rs
  frontend/public/assets/pong_client.wasm
  frontend/src/pages/Games/Pong.jsx
  frontend/vite.config.js
Due: prettier --write, codespell -i 3 -w

+ | Ca tourne
  frontend/pong-client/Cargo.toml
  frontend/pong-client/src/game.rs
  frontend/pong-client/src/lib.rs
  frontend/src/components/utils/CTA.jsx
Due: codespell -i 3 -w

~ | Further work on moving pong...
  frontend/src/pages/Games/Pong.jsx
  frontend/vite.config.js
Due: prettier --write, codespell -i 3 -w

~ | Pong visual enhancement
  backend/pong-server/Cargo.lock
  backend/pong-server/Cargo.toml
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
  frontend/pong-client/index.html
  frontend/src/pages/Games/Pong.jsx
  shell.nix
Due: codespell -i 3 -w

~ | Fixed the popup Play while in-game
  frontend/pong-client/Cargo.toml
  frontend/pong-client/src/lib.rs
  frontend/src/components/utils/Card.jsx
  frontend/src/pages/Games/Pong.jsx
Due: codespell -i 3 -w

+ | Adding id to canvas
  frontend/src/pages/Games/Pong.jsx
Due: codespell -i 3 -w

~ | Fix slide beug
  .gitignore
  frontend/pong-client/src/lib.rs
  frontend/pong-server/src/input.rs
  frontend/pong-server/src/main.rs
Due: codespell -i 3 -w

+ | Final score board added
  frontend/pong-client/src/lib.rs
  frontend/src/pages/Games/Pong.jsx
Due: codespell -i 3 -w

+ | Added Score Card
  frontend/src/pages/Games/Pong.jsx
Due: codespell -i 3 -w

~ | Increase FPS
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
Due: codespell -i 3 -w

+ | Score ingame added
  frontend/pong-client/src/lib.rs
  frontend/src/pages/Games/Pong.jsx
Due: codespell -i 3 -w

+ | Added score
  frontend/pong-client/src/lib.rs
  frontend/src/pages/Games/Pong.jsx
Due: codespell -i 3 -w

~ | Bot upgrade
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
Due: codespell -i 3 -w

+ | Create pong bot
  backend/pong-server/Cargo.lock
  backend/pong-server/Cargo.toml
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
  frontend/pong-client/src/render.rs
Due: codespell -i 3 -w

Path conditions:
  prettier --write: any of: *.js
  black: any of: *.py
  codespell -i 3 -w: any of: *
  gdformat: any of: *.gd
