Repository Bonk-Corporation/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black

.lintstagedrc:

{
	"*.js": "prettier --write",
	"*.py": "black"
}

+ | Added log in page
  frontend/src/components/Card.jsx
  frontend/src/components/ConnectedLogCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  package-lock.json
Due: none

+ | Add a shell.nix
  Makefile
  shell.nix
Due: none

+ | Add husky to verify commit messages
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

+ | Using cdn in dev, get rid of useless css
  Makefile
  backend/bonk/settings.py
  frontend/package.json
  frontend/src/components/BallPresentation.jsx
  frontend/src/components/CTA.jsx
  frontend/src/components/Card.jsx
  frontend/src/components/FriendCard.jsx
  frontend/src/components/GameCard.jsx
  frontend/src/components/Input.jsx
  frontend/src/components/Level.jsx
  frontend/src/components/LogCard.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/NotLogCard.jsx
  frontend/src/components/Payment.jsx
  frontend/src/components/PopUp.jsx
  frontend/src/components/Price.jsx
  frontend/src/components/ProfileCard.jsx
  frontend/src/components/ShopItem.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Play/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Shop/index.jsx
  frontend/src/pages/Tournament/index.jsx
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: black

~ | Update button dimension on navbar, hover on menu
  frontend/src/components/ConnectedLogCard.jsx
  frontend/src/components/Navbar.jsx
Due: none

+ | added friend list
  frontend/src/components/FriendCard.jsx
  frontend/src/components/ProfileCard.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Profile/index.jsx
Due: none

+ | Added game history
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Card.jsx
  frontend/src/components/FriendCard.jsx
  frontend/src/components/GameCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/tailwind.config.js
Due: prettier --write

+ | Added access to games
  frontend/src/index.jsx
  frontend/src/pages/Games/Bonk.jsx
  frontend/src/pages/Games/Pong.jsx
  frontend/src/pages/Play/index.jsx
Due: none

+ | Improve the Tmux setup in the nix shell!!!!!!!!!
  Makefile
  shell.nix
Due: none

+ | Setup authentication with the 42 OAuth2 API
  .gitignore
  backend/.env.example
  backend/bonk/admin.py
  backend/bonk/api.py
  backend/bonk/auth.py
  backend/bonk/debug.py
  backend/bonk/ftapi.py
  backend/bonk/migrations/0001_initial.py
  backend/bonk/migrations/__init__.py
  backend/bonk/models.py
  backend/bonk/settings.py
  backend/bonk/templatetags/__init__.py
  backend/bonk/templatetags/setting.py
  backend/bonk/urls.py
  backend/manage.py
  frontend/index.html
  frontend/src/components/Header.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Home/index.jsx
  requirements.txt
Due: black

~ | Make shell.nix more silent
  package.json
  shell.nix
Due: none

+ | log card
  frontend/public/assets/bonk.webp
  frontend/src/components/LogCard.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/NotLogCard.jsx
  frontend/src/components/ShopCard.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Play/pong.png
Due: none

+ | Adding the navbar
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/Header.jsx
  frontend/src/components/LogCard.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/style.css
  frontend/tailwind.config.js
Due: prettier --write

+ | Add usage instruction to README
  README.md
Due: none

+ | Initialize the Django backend
  .gitignore
  Makefile
  backend/bonk/__init__.py
  backend/bonk/asgi.py
  backend/bonk/settings.py
  backend/bonk/urls.py
  backend/bonk/wsgi.py
  backend/manage.py
Due: black

+ | Added sign up page
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/NotLogCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Signup.jsx
Due: none

+ | Added pop up and starting profile page
  frontend/index.html
  frontend/src/components/BallPresentation.jsx
  frontend/src/components/CTA.jsx
  frontend/src/components/Input.jsx
  frontend/src/components/Level.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/Payment.jsx
  frontend/src/components/PopUp.jsx
  frontend/src/components/Price.jsx
  frontend/src/components/ProfileCard.jsx
  frontend/src/components/ShopItem.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Shop/index.jsx
Due: none

+ | Added component stat
  frontend/src/pages/Profile/index.jsx
  frontend/tailwind.config.js
  pnpm-lock.yaml
Due: prettier --write

~ | Do not install zoneinfo on newer Python3 versions
  requirements.txt
Due: none

+ | Launch tmux in the nix-shell
  shell.nix
Due: none

+ | Added background
  frontend/index.html
  frontend/src/components/Card.jsx
  frontend/src/components/ConnectedLogCard.jsx
  frontend/src/components/Header.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/scripts/bvambient.js
  frontend/tailwind.config.js
Due: prettier --write

+ | Add Docker and fix a bug in production mode
  shell.nix
Due: none

~ | Use different port and https in prod
  backend/bonk/settings.py
Due: black

+ | Add tailwindcss
  frontend/pnpm-lock.yaml
  frontend/tailwind.config.js
Due: prettier --write

+ | Improve the Tmux setup in the nix shell!!!!!!!!!
  shell.nix
Due: none

+ | Add a navbar
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/Header.jsx
  frontend/src/components/LogCard.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/style.css
  frontend/tailwind.config.js
Due: prettier --write

+ | Add an animated background
  frontend/index.html
  frontend/src/components/Card.jsx
  frontend/src/components/ConnectedLogCard.jsx
  frontend/src/components/Header.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/scripts/bvambient.js
Due: prettier --write

~ | Modify some paths
  frontend/src/components/ConnectedLogCard.jsx
  frontend/src/components/Header.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Home/style.css
  frontend/src/pages/Play/index.jsx
  frontend/src/pages/Shop/index.jsx
  frontend/src/pages/Tournament/index.jsx
Due: none

+ | Add a play menu without games
  frontend/src/components/Card.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Play/index.jsx
Due: none

+ | Add "log card" component (whatever that is)
  frontend/public/assets/bonk.webp
  frontend/src/components/LogCard.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/NotLogCard.jsx
  frontend/src/components/ShopCard.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Play/pong.png
Due: none

~ | Update button dimensions in the navbar, hover on menu
  frontend/src/components/ConnectedLogCard.jsx
  frontend/src/components/Navbar.jsx
Due: none

+ | Add play logs in user profiles
  frontend/src/components/Card.jsx
  frontend/src/components/ConnectedLogCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  package-lock.json
Due: none

+ | Add shop!!!
  frontend/index.html
  frontend/src/components/Card.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/ShopCard.jsx
  frontend/src/components/ShopItem.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Play/index.jsx
  frontend/src/pages/Play/pong.png
  frontend/src/pages/Shop/index.jsx
Due: none

+ | Handle different input types
  frontend/src/components/Input.jsx
  frontend/src/pages/Auth/Login.jsx
Due: none

~ | Add sample shop items
  frontend/src/components/LogCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Shop/index.jsx
Due: none

+ | Add pop up (where???) and starting profile page
  frontend/index.html
  frontend/src/components/BallPresentation.jsx
  frontend/src/components/CTA.jsx
  frontend/src/components/Input.jsx
  frontend/src/components/Level.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/Payment.jsx
  frontend/src/components/PopUp.jsx
  frontend/src/components/Price.jsx
  frontend/src/components/ProfileCard.jsx
  frontend/src/components/ShopItem.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Shop/index.jsx
Due: none

+ | Add friend list to the profile
  frontend/src/components/FriendCard.jsx
  frontend/src/components/ProfileCard.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Profile/index.jsx
Due: none

+ | Add game history
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Card.jsx
  frontend/src/components/FriendCard.jsx
  frontend/src/components/GameCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Profile/index.jsx
Due: none

+ | Tried to get tailwind and ended up using the CDN
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/GameCard.jsx
  frontend/src/components/Input.jsx
  frontend/src/components/Level.jsx
  frontend/src/components/LogCard.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/NotLogCard.jsx
  frontend/src/components/Payment.jsx
  frontend/src/components/PopUp.jsx
  frontend/src/components/Price.jsx
  frontend/src/components/ProfileCard.jsx
  frontend/src/components/ShopItem.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Play/index.jsx
  frontend/src/style.css
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none
