Repository Bonk-Corporation/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black

.lintstagedrc:

{
	"*.{js,jsx}": "prettier --write",
	"*.py": "black",
}

+ | Bonk client integration and optimization
  backend/ponk/settings.py
  frontend/src/pages/Games/Bonk.jsx
  frontend/src/pages/Games/bonk.css
  shell.nix
  startup.d/08-caddy
  startup.d/12-bonk
Due: prettier --write, black

+ | Add wget dep
  shell.nix
Due: none

~ | Bonk more or less functionnal
  Makefile
  backend/bonk-server/main.gd
  backend/ponk/bonk.py
  backend/ponk/migrations/0002_delete_bonkevent_remove_user_bonk_token.py
  backend/ponk/utils.py
  frontend/src/pages/Games/Bonk.jsx
  startup.d/12-bonk
Due: prettier --write, black

~ | Bonk startup script corrections
  startup.d/12-bonk
Due: none

~ | Basically changed everything
  Makefile
  backend/bonk-server/class/Room.gd
  backend/bonk-server/class/User.gd
  backend/bonk-server/global.gd
  backend/bonk-server/instance.gd
  backend/bonk-server/main.gd
  backend/bonk-server/main.tscn
  backend/bonk-server/map/map.gd
  backend/bonk-server/map/map.scn
  backend/bonk-server/map/map.tscn
  backend/bonk-server/map/rectangle.gd
  backend/bonk-server/parameters.gd
  backend/bonk-server/player/Pp.gd
  backend/bonk-server/player/body.gd
  backend/bonk-server/player/grapple.gd
  backend/bonk-server/player/player.gdshader
  backend/bonk-server/player/player.tscn
  backend/bonk-server/project.godot
  backend/bonk-server/settings.gd
  backend/ponk/bonk.py
  frontend/src/pages/Games/Bonk.jsx
  startup.d/12-bonk
Due: prettier --write, black

~ | Quick fix
  backend/.nfs0000000014c2047900000136
  backend/ponk/api.py
  backend/ponk/utils.py
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/pages/Games/Bonk.jsx
  frontend/src/pages/Play/index.jsx
Due: prettier --write, black

~ | Changed game_stats api call
  backend/bonk-server/main.gd
Due: none

~ | Using sessionID
  backend/ponk/api.py
  backend/ponk/migrations/0015_merge_20240527_1525.py
  backend/ponk/models.py
  backend/ponk/private.py
Due: black

+ | Returning an account for a token
  backend/ponk/api.py
  backend/ponk/migrations/0012_user_bonk_token.py
  backend/ponk/models.py
  backend/ponk/private.py
  backend/ponk/utils.py
Due: black

~ | True migrations
  backend/ponk/migrations/0001_initial.py
  backend/ponk/migrations/0014_delete_bonkevent.py
  backend/ponk/migrations/0015_merge_20240527_1525.py
Due: black

+ | Added bonk file and compilation script
  .gitignore
  .lintstagedrc
  Makefile
  backend/bonk-server/asset/circle.svg
  backend/bonk-server/asset/circle.svg.import
  backend/bonk-server/asset/circle_full.png
  backend/bonk-server/asset/circle_full.png.import
  backend/bonk-server/asset/city.svg
  backend/bonk-server/asset/city.svg.import
  backend/bonk-server/asset/icon.svg
  backend/bonk-server/asset/icon.svg.import
  backend/bonk-server/export_presets.cfg
  backend/bonk-server/instance.gd
  backend/bonk-server/main.gd
  backend/bonk-server/main.tscn
  backend/bonk-server/map/collision.gd
  backend/bonk-server/map/map.gd
  backend/bonk-server/map/map.scn
  backend/bonk-server/map/map.tscn
  backend/bonk-server/parameters.gd
  backend/bonk-server/player/Pp.gd
  backend/bonk-server/player/body.gd
  backend/bonk-server/player/grapple.gd
  backend/bonk-server/player/player.gdshader
  backend/bonk-server/player/player.tscn
  backend/bonk-server/project.godot
  startup.d/12-bonk
  startup.d/13-tmux
Due: none

+ | Fetching join and leave on front
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/pages/Games/Bonk.jsx
Due: prettier --write

+ | Add api function for bonk matchmaking
  backend/ponk/api.py
  backend/ponk/bonk.py
Due: black

+ | Added endpoints api to manage godo events
  backend/ponk/migrations/0010_bonkevent_alter_user_selected_skin.py
  backend/ponk/migrations/0011_bonkevent_created_at.py
  backend/ponk/private.py
Due: black

~ | Storing tokens in the code, not in the db
  backend/ponk/migrations/0001_initial.py
  backend/ponk/migrations/0010_bonkevent_alter_user_selected_skin.py
  backend/ponk/migrations/0011_bonkevent_created_at.py
  backend/ponk/migrations/0012_user_bonk_token.py
  backend/ponk/migrations/0014_delete_bonkevent.py
  backend/ponk/models.py
  backend/ponk/private.py
Due: black

+ | Adding endpoint to set token
  backend/ponk/api.py
  backend/ponk/models.py
  backend/ponk/private.py
  backend/ponk/utils.py
Due: black

+ | Add non-host play endpoint
  backend/ponk/tournament.py
Due: black

+ | Migrations
  backend/ponk/migrations/0003_alter_image_image_alter_user_avatar.py
Due: black

~ | Change phase system
  backend/ponk/tournament.py
Due: black

~ | Fixing schema flashbang
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

~ | Tournament works for 2 people
  backend/ponk/tournament.py
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

~ | Trying to fix constant redirection problem
  backend/ponk/tournament.py
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

~ | Fix tournaments
  backend/ponk/tournament.py
Due: black

+ | Slights improvements
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

~ | Final tournament fix
  backend/ponk/tournament.py
Due: black
