Repository Bonk-Corporation/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black

.lintstagedrc:

{
	"*.js": "prettier --write",
	"*.py": "black"
}

+ | Responsive profile
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/components/Profile/Stat.jsx
  frontend/src/pages/Profile/index.jsx
Due: none

~ | Fixed types problems
  frontend/src/index.jsx
  frontend/src/scripts/bvambient.js
Due: prettier --write

~ | Modified stats
  frontend/src/components/Profile/Stat.jsx
Due: none

+ | Added burger bars
  frontend/src/components/Navbar/LogCard.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Profile/Stat.jsx
Due: none

~ | Fixed blur profile
  frontend/src/pages/Profile/index.jsx
Due: none

~ | Modified tiling of profile
  frontend/src/pages/Profile/index.jsx
Due: none

+ | Added xp
  frontend/src/components/Profile/GameCard.jsx
Due: none

~ | Fixed responsive profile
  frontend/src/pages/Profile/index.jsx
Due: none

~ | Modified shop mention
  frontend/src/components/Shop/ShopItem.jsx
Due: none

~ | Added stripe
  frontend/src/components/Shop/ItemSelection.jsx
  frontend/src/components/Shop/Payment.jsx
  frontend/src/components/Shop/ShopItem.jsx
Due: none

+ | Handling selection of skin
  backend/bonk/api.py
  frontend/src/components/Shop/ItemSelection.jsx
  frontend/src/components/Shop/ShopItem.jsx
  frontend/src/components/utils/CTA.jsx
  frontend/src/index.jsx
  frontend/src/pages/Shop/index.jsx
Due: black

+ | Added User to models
  backend/bonk/models.py
Due: black

+ | Added ShopItems to models
  backend/bonk/models.py
Due: black

~ | Admin modified
  backend/bonk/admin.py
  backend/bonk/models.py
Due: black

~ | Admin modified
  .gitignore
  backend/bonk/models.py
Due: black

+ | Installed psycopg2 to work with ArrayField
  backend/bonk/models.py
  requirements.txt
Due: black

parent 17fc93d2742f56b98d119665de1a414d573a512b author demostanis <demostanis@protonmail.com> 1713304114 +0200 committer Bolvic <victor.bolheme@gmail.com> 1714084270 +0200
  .gitignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/style.css
  frontend/tailwind.config.js
  pong/.gitignore
  pong/lipong/.appveyor.yml
  pong/lipong/.github/dependabot.yml
  pong/lipong/.gitignore
  pong/lipong/.travis.yml
  pong/lipong/Cargo.lock
  pong/lipong/Cargo.toml
  pong/lipong/LICENSE_APACHE
  pong/lipong/LICENSE_MIT
  pong/lipong/README.md
  pong/lipong/index.html
  pong/lipong/index.js
  pong/lipong/package-lock.json
  pong/lipong/package.json
  pong/lipong/pnpm-lock.yaml
  pong/lipong/src/game.rs
  pong/lipong/src/lib.rs
  pong/lipong/src/render.rs
  pong/lipong/webpack.config.js
  pong/pong-server/Cargo.lock
  pong/pong-server/Cargo.toml
  pong/pong-server/src/input.rs
  pong/pong-server/src/main.rs
  shell.nix
Due: prettier --write

+ | Pong
  shell.nix
Due: none

+ | Create DB
  backend/manage.py
  backend/ponk/__init__.py
  backend/ponk/admin.py
  backend/ponk/api.py
  backend/ponk/asgi.py
  backend/ponk/auth.py
  backend/ponk/debug.py
  backend/ponk/ftapi.py
  backend/ponk/migrations/0001_initial.py
  backend/ponk/migrations/__init__.py
  backend/ponk/models.py
  backend/ponk/settings.py
  backend/ponk/templatetags/__init__.py
  backend/ponk/templatetags/setting.py
  backend/ponk/urls.py
  backend/ponk/wsgi.py
  shell.nix
Due: black

~ | Modified me func
  backend/bonk/api.py
Due: black

~ | Fix laucher for pong server
  shell.nix
Due: none

~ | Move backend/.env to .env
  .env.example
  README.md
  backend/.env.example
  shell.nix
Due: none

~ | Bordel nils qui sait pas faire du shell
  shell.nix
Due: none

- | Remove django_dotenv
  backend/manage.py
  requirements.txt
Due: black

~ | Redo pnpm-lock.yaml
  frontend/pnpm-lock.yaml
Due: none

~ | Fix problem with DEBUG variable
  backend/ponk/settings.py
  shell.nix
Due: black
