Repository Bonk-Corporation/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black

.lintstagedrc:

{
	"*.js": "prettier --write",
	"*.py": "black"
}

+ | Added shop page
  frontend/index.html
  frontend/src/components/Card.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/ShopCard.jsx
  frontend/src/components/ShopItem.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Play/index.jsx
  frontend/src/pages/Play/pong.png
  frontend/src/pages/Shop/index.jsx
Due: none

~ | Added sample shop items
  frontend/src/components/LogCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Shop/index.jsx
Due: none

~ | Update README.md
  README.md
Due: none

~ | Use different port and https in prod
  backend/bonk/settings.py
Due: black

+ | Add Docker and fix a bug in production mode
  .dockerignore
  .gitignore
  Dockerfile
  Makefile
  caddy/Caddyfile
  caddy/Dockerfile
  docker-compose.yml
  shell.nix
Due: none

+ | Add tailwindcss
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.js
  frontend/src/pages/Home/index.jsx
  frontend/src/style.css
  frontend/tailwind.config.js
Due: prettier --write

+ | Added pop up and starting profile page
  frontend/index.html
  frontend/src/components/BallPresentation.jsx
  frontend/src/components/CTA.jsx
  frontend/src/components/Input.jsx
  frontend/src/components/Level.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/Payment.jsx
  frontend/src/components/PopUp.jsx
  frontend/src/components/Price.jsx
  frontend/src/components/ProfileCard.jsx
  frontend/src/components/ShopItem.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Shop/index.jsx
Due: none

+ | Handling different input types
  frontend/src/components/Input.jsx
  frontend/src/pages/Auth/Login.jsx
Due: none

+ | added friend list
  frontend/src/components/FriendCard.jsx
  frontend/src/components/ProfileCard.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Profile/index.jsx
Due: none

+ | Added game history
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Card.jsx
  frontend/src/components/FriendCard.jsx
  frontend/src/components/GameCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/tailwind.config.js
Due: prettier --write

+ | Tried to get tailwind
  frontend/package-lock.json
  frontend/pnpm-lock.yaml
  frontend/src/components/BallPresentation.jsx
  frontend/src/components/CTA.jsx
  frontend/src/components/Card.jsx
  frontend/src/components/FriendCard.jsx
  frontend/src/components/GameCard.jsx
  frontend/src/components/Input.jsx
  frontend/src/components/Level.jsx
  frontend/src/components/LogCard.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/NotLogCard.jsx
  frontend/src/components/Payment.jsx
  frontend/src/components/PopUp.jsx
  frontend/src/components/Price.jsx
  frontend/src/components/ProfileCard.jsx
  frontend/src/components/ShopItem.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Play/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Shop/index.jsx
  frontend/src/pages/Tournament/index.jsx
Due: none

+ | PONG
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  pong/.gitignore
  pong/lipong/.appveyor.yml
  pong/lipong/.github/dependabot.yml
  pong/lipong/.gitignore
  pong/lipong/.travis.yml
  pong/lipong/Cargo.toml
  pong/lipong/LICENSE_APACHE
  pong/lipong/LICENSE_MIT
  pong/lipong/README.md
  pong/lipong/index.html
  pong/lipong/index.js
  pong/lipong/package.json
  pong/lipong/src/game.rs
  pong/lipong/src/lib.rs
  pong/lipong/src/render.rs
  pong/lipong/webpack.config.js
  pong/pong-server/Cargo.toml
  pong/pong-server/src/input.rs
  pong/pong-server/src/main.rs
  shell.nix
Due: prettier --write

+ | Using cdn in dev, get rid of useless css
  Makefile
  backend/bonk/settings.py
  frontend/package.json
  frontend/src/components/BallPresentation.jsx
  frontend/src/components/CTA.jsx
  frontend/src/components/Card.jsx
  frontend/src/components/FriendCard.jsx
  frontend/src/components/GameCard.jsx
  frontend/src/components/Input.jsx
  frontend/src/components/Level.jsx
  frontend/src/components/LogCard.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/NotLogCard.jsx
  frontend/src/components/Payment.jsx
  frontend/src/components/PopUp.jsx
  frontend/src/components/Price.jsx
  frontend/src/components/ProfileCard.jsx
  frontend/src/components/ShopItem.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Play/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Shop/index.jsx
  frontend/src/pages/Tournament/index.jsx
  frontend/src/style.css
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: black

+ | Improve the Tmux setup in the nix shell!!!!!!!!!
  Makefile
  shell.nix
Due: none

+ | Added stats
  frontend/src/components/FriendCard.jsx
  frontend/src/components/ProfileCard.jsx
  frontend/src/components/Stat.jsx
  frontend/src/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/tailwind.config.js
  package-lock.json
  package.json
Due: prettier --write

parent 17fc93d2742f56b98d119665de1a414d573a512b author demostanis <demostanis@protonmail.com> 1713304114 +0200 committer Bolvic <victor.bolheme@gmail.com> 1714084270 +0200
  .gitignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.js
  frontend/src/pages/Home/index.jsx
  frontend/src/style.css
  frontend/tailwind.config.js
  pong/.gitignore
  pong/lipong/.appveyor.yml
  pong/lipong/.github/dependabot.yml
  pong/lipong/.gitignore
  pong/lipong/.travis.yml
  pong/lipong/Cargo.lock
  pong/lipong/Cargo.toml
  pong/lipong/LICENSE_APACHE
  pong/lipong/LICENSE_MIT
  pong/lipong/README.md
  pong/lipong/index.html
  pong/lipong/index.js
  pong/lipong/package-lock.json
  pong/lipong/package.json
  pong/lipong/pnpm-lock.yaml
  pong/lipong/src/game.rs
  pong/lipong/src/lib.rs
  pong/lipong/src/render.rs
  pong/lipong/webpack.config.js
  pong/pong-server/Cargo.lock
  pong/pong-server/Cargo.toml
  pong/pong-server/src/input.rs
  pong/pong-server/src/main.rs
  shell.nix
Due: prettier --write

+ | Added config for solo/multi on client and server
  pong/lipong/index.html
  pong/lipong/package-lock.json
  pong/lipong/src/lib.rs
  pong/pong-server/src/input.rs
  pong/pong-server/src/main.rs
Due: none

+ | Added component stat
  frontend/src/pages/Profile/index.jsx
  frontend/tailwind.config.js
  pnpm-lock.yaml
Due: prettier --write

~ | Sorted components in folders, added dinosaurs
  frontend/src/components/Navbar/LogCard.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/NotLogCard.jsx
  frontend/src/components/Profile/FriendCard.jsx
  frontend/src/components/Profile/GameCard.jsx
  frontend/src/components/Profile/Level.jsx
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/components/Profile/Stat.jsx
  frontend/src/components/Shop/BallPresentation.jsx
  frontend/src/components/Shop/Payment.jsx
  frontend/src/components/Shop/Price.jsx
  frontend/src/components/Shop/ShopItem.jsx
  frontend/src/components/utils/CTA.jsx
  frontend/src/components/utils/Card.jsx
  frontend/src/components/utils/Input.jsx
  frontend/src/components/utils/PopUp.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Shop/index.jsx
  frontend/src/style.css
Due: none

+ | Added tournament page
  frontend/src/components/Tournament/PlayerCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Tournament/index.jsx
Due: none

+ | Added sign up page
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/NotLogCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Signup.jsx
Due: none

+ | Add authorized location to navbar
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/index.jsx
Due: none

+ | Added access to games
  frontend/src/index.jsx
  frontend/src/pages/Games/Bonk.jsx
  frontend/src/pages/Games/Pong.jsx
  frontend/src/pages/Play/index.jsx
Due: none

~ | Responsive shop
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/NotLogCard.jsx
  frontend/src/components/Shop/ShopItem.jsx
  frontend/src/pages/Shop/index.jsx
Due: none

+ | Adding the navbar
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/LogCard.jsx
  frontend/src/index.css
  frontend/tailwind.config.js
Due: prettier --write

+ | Added background
  frontend/index.html
  frontend/src/components/Card.jsx
  frontend/src/components/ConnectedLogCard.jsx
  frontend/src/components/Header.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/scripts/bvambient.js
  frontend/tailwind.config.js
Due: prettier --write

~ | Modifying paths
  frontend/src/components/ConnectedLogCard.jsx
  frontend/src/components/Header.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Play/index.jsx
  frontend/src/pages/Shop/index.jsx
  frontend/src/pages/Tournament/index.jsx
Due: none

+ | Added play menu without games
  frontend/src/components/Card.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Play/index.jsx
Due: none

+ | Added log in page
  frontend/src/components/Card.jsx
  frontend/src/components/ConnectedLogCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  package-lock.json
Due: none

+ | Add "log card" (whatever that is)
  frontend/public/assets/bonk.webp
  frontend/src/components/LogCard.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/NotLogCard.jsx
  frontend/src/components/ShopCard.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Play/pong.png
Due: none

~ | Update button dimension on navbar, hover on menu
  frontend/src/components/ConnectedLogCard.jsx
  frontend/src/components/Navbar.jsx
Due: none

+ | Added friend list
  frontend/src/components/FriendCard.jsx
  frontend/src/components/ProfileCard.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Profile/index.jsx
Due: none
