Repository Bonk-Corporation/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black, gdformat

+ | Linked front with back on tournaments
  frontend/src/components/Tournament/InvitationCard.jsx
  frontend/src/pages/Tournament/Menu.jsx
  frontend/src/scripts/languages.js
Due: prettier --write

+ | Add is_playing endpoint
  backend/ponk/tournament.py
Due: black

~ | Skin fully implemented
  frontend/pong-client/src/lib.rs
  frontend/pong-client/src/render.rs
Due: none

~ | Fix tournament/game_ended endpoint
  backend/pong-server/src/main.rs
  backend/ponk/private.py
  backend/ponk/tournament.py
Due: black

~ | Quick fixes for redirection
  backend/ponk/tournament.py
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

+ | Continuing rooms/tournament part
  backend/pong-server/src/main.rs
Due: none

~ | Change current_room field to User instead of username
  backend/ponk/migrations/0002_user_current_room.py
  backend/ponk/models.py
  backend/ponk/tournament.py
Due: black

- | Removed tsignore
  frontend/src/components/Profile/FriendList.jsx
  frontend/src/components/Shop/ItemSelection.jsx
Due: prettier --write

~ | Fixed new func
  backend/ponk/tournament.py
Due: black

+ | Fixed end game message
  backend/pong-server/src/main.rs
  frontend/pong-client/src/lib.rs
Due: none

+ | Added 1/X players on cards
  backend/ponk/tournament.py
  frontend/src/components/Tournament/InvitationCard.jsx
Due: prettier --write, black

+ | Migration
  backend/ponk/migrations/0002_user_current_room.py
Due: black

~ | Fix tournament input
  frontend/src/pages/Tournament/Menu.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

~ | Fixed default value
  frontend/src/pages/Tournament/Menu.jsx
Due: prettier --write

+ | Add playing status to /me endpoint
  backend/ponk/api.py
  backend/ponk/private.py
  backend/ponk/tournament.py
Due: black

- | Removing user on if already in room
  backend/ponk/tournament.py
Due: black

~ | Persistent tournaments
  backend/ponk/api.py
Due: black

+ | API call to pong server working
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
  backend/ponk/tournament.py
  frontend/pong-client/src/lib.rs
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

~ | Add boost ball
  backend/pong-server/src/input.rs
Due: none

~ | Improving bot credibility
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
Due: none

~ | Fix colision probleme
  backend/pong-server/src/input.rs
Due: none

+ | Add play button logic
  backend/ponk/tournament.py
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

~ | Link the game mode switching to the backend
  backend/ponk/tournament.py
  frontend/src/components/Tournament/PlayerCard.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

~ | Fixed log in
  frontend/src/pages/Auth/Login.jsx
Due: prettier --write

~ | Fixing log out
  frontend/src/components/Navbar/Navbar.jsx
Due: prettier --write

~ | Fixed schemas
  frontend/src/components/Tournament/Schema.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

+ | Add current_room field do user model
  backend/ponk/models.py
  backend/ponk/tournament.py
Due: black

+ | Redirecting everyone to pong on play
  backend/ponk/tournament.py
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

+ | Link the privacy toggle button with the backend
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

+ | Add phase system
  backend/ponk/tournament.py
Due: black

+ | RUN PRETTIER
  README.md
  frontend/src/components/Chat/Message.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Profile/FriendCard.jsx
  frontend/src/components/Profile/FriendList.jsx
  frontend/src/components/Profile/GameCard.jsx
  frontend/src/components/Profile/GameHistory.jsx
  frontend/src/components/Profile/Level.jsx
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/components/Profile/Stat.jsx
  frontend/src/components/Shop/BallPresentation.jsx
  frontend/src/components/Shop/ItemSelection.jsx
  frontend/src/components/Shop/Price.jsx
  frontend/src/components/Tournament/InvitationCard.jsx
  frontend/src/components/Tournament/PlayerCard.jsx
  frontend/src/components/utils/CTA.jsx
  frontend/src/components/utils/Input.jsx
  frontend/src/components/utils/PopUp.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Auth/Signup.jsx
  frontend/src/pages/Games/Pong.jsx
  frontend/src/pages/LegalNotice/LegalNotice.jsx
  frontend/src/pages/Play/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Shop/index.jsx
  frontend/src/pages/Tournament/Menu.jsx
  frontend/src/pages/Tournament/Room.jsx
  frontend/src/pages/_404.jsx
  frontend/src/style.css
Due: prettier --write

+ | Added endpoints api to manage godo events
  backend/ponk/migrations/0010_bonkevent_alter_user_selected_skin.py
  backend/ponk/migrations/0011_bonkevent_created_at.py
  backend/ponk/private.py
Due: black

+ | Returning an account for a token
  backend/ponk/api.py
  backend/ponk/migrations/0012_user_bonk_token.py
  backend/ponk/models.py
  backend/ponk/private.py
  backend/ponk/utils.py
Due: black

+ | Adding endpoint to set token
  backend/ponk/api.py
  backend/ponk/models.py
  backend/ponk/private.py
  backend/ponk/utils.py
Due: black

~ | Using sessionID
  backend/ponk/api.py
  backend/ponk/migrations/0015_merge_20240527_1525.py
  backend/ponk/models.py
  backend/ponk/private.py
Due: black

+ | Add api function for bonk matchmaking
  backend/ponk/api.py
  backend/ponk/bonk.py
Due: black

~ | True migrations
  backend/ponk/migrations/0001_initial.py
  backend/ponk/migrations/0014_delete_bonkevent.py
  backend/ponk/migrations/0015_merge_20240527_1525.py
Due: black

~ | Storing tokens in the code, not in the db
  backend/ponk/migrations/0001_initial.py
  backend/ponk/migrations/0010_bonkevent_alter_user_selected_skin.py
  backend/ponk/migrations/0011_bonkevent_created_at.py
  backend/ponk/migrations/0012_user_bonk_token.py
  backend/ponk/migrations/0014_delete_bonkevent.py
  backend/ponk/models.py
  backend/ponk/private.py
Due: black

+ | Fetching join and leave on front
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/pages/Games/Bonk.jsx
Due: prettier --write

+ | Added bonk file and compilation script
  .gitignore
  .lintstagedrc
  Makefile
  backend/bonk-server/asset/circle.svg
  backend/bonk-server/asset/circle.svg.import
  backend/bonk-server/asset/circle_full.png
  backend/bonk-server/asset/circle_full.png.import
  backend/bonk-server/asset/city.svg
  backend/bonk-server/asset/city.svg.import
  backend/bonk-server/asset/icon.svg
  backend/bonk-server/asset/icon.svg.import
  backend/bonk-server/export_presets.cfg
  backend/bonk-server/instance.gd
  backend/bonk-server/main.gd
  backend/bonk-server/main.tscn
  backend/bonk-server/map/collision.gd
  backend/bonk-server/map/map.gd
  backend/bonk-server/map/map.scn
  backend/bonk-server/map/map.tscn
  backend/bonk-server/parameters.gd
  backend/bonk-server/player/Pp.gd
  backend/bonk-server/player/body.gd
  backend/bonk-server/player/grapple.gd
  backend/bonk-server/player/player.gdshader
  backend/bonk-server/player/player.tscn
  backend/bonk-server/project.godot
  startup.d/12-bonk
  startup.d/13-tmux
Due: gdformat

Path conditions:
  prettier --write: any of: *.{js,jsx}
  black: any of: *.py
  gdformat: any of: *.gd
