Repository Bonk-Corporation/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black, gdformat

.lintstagedrc:

{
	"*.js": "prettier --write",
	"*.py": "black",
	"*.gd": "gdformat"
}

~ | Change web url to static url
  assets/sheldon.png
  backend/ponk/api.py
  backend/ponk/models.py
Due: black

~ | Change file to upload avatar
  backend/ponk/models.py
  frontend/src/components/Profile/ProfileCard.jsx
Due: black

~ | Change gitignore
  .gitignore
Due: none

~ | Specify output file in convert_image.sh
  assets/skins/convert_image.sh
Due: none

+ | Add Insu skin pack
  assets/skins/insu-anan.png
  assets/skins/insu-gwigwi.png
  assets/skins/insu-juju.png
  backend/ponk/skins.json
Due: none

+ | Add Poulet skin pack
  assets/skins/poulet1.png
  assets/skins/poulet2.png
  assets/skins/poulet3.png
  backend/ponk/skins.json
Due: none

+ | Added avatar to tournament schema
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Tournament/Schema.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: none

+ | Redirect to / to /play if we're logged in
  frontend/src/components/Navbar/Navbar.jsx
Due: none

~ | Using context
  frontend/src/Contexts.js
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Navbar/LogCard.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Profile/FriendCard.jsx
  frontend/src/components/Profile/FriendList.jsx
  frontend/src/components/Profile/GameHistory.jsx
  frontend/src/components/Profile/Level.jsx
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/components/Shop/ItemSelection.jsx
  frontend/src/components/Shop/ShopItem.jsx
  frontend/src/components/Tournament/InvitationCard.jsx
  frontend/src/components/Tournament/PlayerCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Auth/Signup.jsx
  frontend/src/pages/Games/Bonk.jsx
  frontend/src/pages/Games/Pong.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Shop/index.jsx
  frontend/src/pages/Tournament/Menu.jsx
  frontend/src/pages/Tournament/Room.jsx
  frontend/src/pages/_404.jsx
Due: prettier --write

~ | Better button private
  frontend/src/pages/Tournament/Room.jsx
Due: none

+ | Waiting page
  frontend/src/index.jsx
  frontend/src/pages/Tournament/Waiting.jsx
Due: none

+ | Added tournament schema
  frontend/src/components/Tournament/Schema.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: none

~ | Using ...rest
  .lintstagedrc
  frontend/src/components/utils/CTA.jsx
  frontend/src/components/utils/Card.jsx
Due: none

- | Removed route
  frontend/src/index.jsx
Due: none

+ | Add current_room field do user model
  backend/ponk/models.py
  backend/ponk/tournament.py
Due: black

+ | Migration
  backend/ponk/migrations/0002_user_current_room.py
Due: black

+ | Add tournaments endpoint
  backend/ponk/api.py
  backend/ponk/tournament.py
Due: black

~ | Persistent tournaments
  backend/ponk/api.py
Due: black

~ | Fixed new func
  backend/ponk/tournament.py
Due: black

~ | Fix get info tournaments
  backend/ponk/tournament.py
Due: black

~ | Fixed join
  backend/ponk/tournament.py
Due: black

+ | Linked front with back on tournaments
  frontend/src/components/Tournament/InvitationCard.jsx
  frontend/src/pages/Tournament/Menu.jsx
  frontend/src/scripts/languages.js
Due: prettier --write

- | Removing user on if already in room
  backend/ponk/tournament.py
Due: black

+ | RUN PRETTIER
  README.md
  frontend/src/components/Chat/Message.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Profile/FriendCard.jsx
  frontend/src/components/Profile/FriendList.jsx
  frontend/src/components/Profile/GameCard.jsx
  frontend/src/components/Profile/GameHistory.jsx
  frontend/src/components/Profile/Level.jsx
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/components/Profile/Stat.jsx
  frontend/src/components/Shop/BallPresentation.jsx
  frontend/src/components/Shop/ItemSelection.jsx
  frontend/src/components/Shop/Price.jsx
  frontend/src/components/Tournament/InvitationCard.jsx
  frontend/src/components/Tournament/PlayerCard.jsx
  frontend/src/components/utils/CTA.jsx
  frontend/src/components/utils/Input.jsx
  frontend/src/components/utils/PopUp.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Auth/Signup.jsx
  frontend/src/pages/Games/Pong.jsx
  frontend/src/pages/LegalNotice/LegalNotice.jsx
  frontend/src/pages/Play/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Shop/index.jsx
  frontend/src/pages/Tournament/Menu.jsx
  frontend/src/pages/Tournament/Room.jsx
  frontend/src/pages/_404.jsx
  frontend/src/style.css
Due: none

+ | Add and optimize several tournament endpoints
  backend/ponk/tournament.py
Due: black
