Repository Bonk-Corporation/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black

.lintstagedrc:

{
	"*.js": "prettier --write",
	"*.py": "black"
}

~ | Enter the virtual environment for the run target in the Makefile
  Makefile
Due: none

+ | Add a requirements.txt
  requirements.txt
Due: none

~ | Add Codespell to lint-staged to check code spelling
  .husky/pre-commit
  .lintstagedrc
Due: none

+ | Add a shell.nix
  Makefile
  shell.nix
Due: none

~ | Do not install zoneinfo on newer Python3 versions
  requirements.txt
Due: none

~ | Format GDScript when committing
  .lintstagedrc
  shell.nix
Due: none

+ | Start the pong game in Godot
  pong/.gitignore
  pong/.import/.gdignore
  pong/.import/ball.png-39e1104a2ffc4901f03ad695386008e9.md5
  pong/.import/ball.png-39e1104a2ffc4901f03ad695386008e9.stex
  pong/.import/icon.png-487276ed1e3a0c39cad0279d744ee560.md5
  pong/.import/left_pallete.png-d9603fe58323f3f860f9587e018e3abb.md5
  pong/.import/left_pallete.png-d9603fe58323f3f860f9587e018e3abb.stex
  pong/.import/right_pallete.png-f56573b15951da6be849a29d28f5ccbb.md5
  pong/.import/right_pallete.png-f56573b15951da6be849a29d28f5ccbb.stex
  pong/.import/separator.png-77257cf7269813e52b3fe7c42e914d59.md5
  pong/.import/separator.png-77257cf7269813e52b3fe7c42e914d59.stex
  pong/default_env.tres
  pong/pong.tscn
  pong/pong_assets/ball.png
  pong/pong_assets/ball.png.import
  pong/pong_assets/left_pallete.png
  pong/pong_assets/left_pallete.png.import
  pong/pong_assets/right_pallete.png
  pong/pong_assets/right_pallete.png.import
  pong/pong_assets/separator.png
  pong/pong_assets/separator.png.import
  pong/project.godot
  pong/scripts/game.gd
Due: none

~ | FUCK GODOT
  pong/.gitignore
  pong/.import/.gdignore
  pong/.import/ball.png-39e1104a2ffc4901f03ad695386008e9.md5
  pong/.import/ball.png-39e1104a2ffc4901f03ad695386008e9.stex
  pong/.import/icon.png-487276ed1e3a0c39cad0279d744ee560.md5
  pong/.import/left_pallete.png-d9603fe58323f3f860f9587e018e3abb.md5
  pong/.import/left_pallete.png-d9603fe58323f3f860f9587e018e3abb.stex
  pong/.import/right_pallete.png-f56573b15951da6be849a29d28f5ccbb.md5
  pong/.import/right_pallete.png-f56573b15951da6be849a29d28f5ccbb.stex
  pong/.import/separator.png-77257cf7269813e52b3fe7c42e914d59.md5
  pong/.import/separator.png-77257cf7269813e52b3fe7c42e914d59.stex
  pong/Cargo.toml
  pong/assets/Ball.png
  pong/assets/PongPaddle.jpg
  pong/default_env.tres
  pong/pong.tscn
  pong/pong_assets/ball.png
  pong/pong_assets/ball.png.import
  pong/pong_assets/left_pallete.png
  pong/pong_assets/left_pallete.png.import
  pong/pong_assets/right_pallete.png
  pong/pong_assets/right_pallete.png.import
  pong/pong_assets/separator.png
  pong/pong_assets/separator.png.import
  pong/project.godot
  pong/scripts/game.gd
  pong/src/main.rs
Due: none

~ | FUCK GODOT
  pong/.gitignore
  pong/Cargo.toml
  pong/assets/Ball.png
  pong/assets/PongPaddle.jpg
  pong/src/main.rs
Due: none

~ | Make shell.nix more silent
  package.json
  shell.nix
Due: none

~ | Add a fdev rule in the Makefile
  Makefile
Due: none

+ | Add frontend with preact & django-vite
  backend/bonk/settings.py
  backend/bonk/urls.py
  frontend/.gitignore
  frontend/index.html
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/vite.svg
  frontend/src/components/Header.jsx
  frontend/src/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/Home/style.css
  frontend/src/pages/_404.jsx
  frontend/src/style.css
  frontend/vite.config.js
  requirements.txt
  shell.nix
Due: prettier --write, black

Django vite (#6)
  Makefile
  backend/bonk/settings.py
  backend/bonk/urls.py
  frontend/.gitignore
  frontend/index.html
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/vite.svg
  frontend/src/components/Header.jsx
  frontend/src/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/Home/style.css
  frontend/src/pages/_404.jsx
  frontend/src/style.css
  frontend/vite.config.js
  package.json
  requirements.txt
  shell.nix
Due: prettier --write, black

Revert "Django vite (#6)"
  Makefile
  backend/bonk/settings.py
  backend/bonk/urls.py
  frontend/.gitignore
  frontend/index.html
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/vite.svg
  frontend/src/components/Header.jsx
  frontend/src/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/Home/style.css
  frontend/src/pages/_404.jsx
  frontend/src/style.css
  frontend/vite.config.js
  package.json
  requirements.txt
  shell.nix
Due: prettier --write, black

+ | Launch tmux in the nix-shell
  shell.nix
Due: none

~ | Prevent a warning when in debug mode
  backend/bonk/settings.py
Due: black

- | Remove useless asgi.py
  backend/bonk/asgi.py
Due: black

~ | Automatically migrate the DB in prod and add the mouse in dev
  shell.nix
Due: none

+ | Setup authentication with the 42 OAuth2 API
  .gitignore
  backend/.env.example
  backend/bonk/admin.py
  backend/bonk/api.py
  backend/bonk/auth.py
  backend/bonk/debug.py
  backend/bonk/ftapi.py
  backend/bonk/migrations/0001_initial.py
  backend/bonk/migrations/__init__.py
  backend/bonk/models.py
  backend/bonk/settings.py
  backend/bonk/templatetags/__init__.py
  backend/bonk/templatetags/setting.py
  backend/bonk/urls.py
  backend/manage.py
  frontend/index.html
  frontend/src/components/Header.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Home/index.jsx
  requirements.txt
Due: black

+ | Add usage instruction to README
  README.md
Due: none

- | Remove an unexisting arg
  shell.nix
Due: none

+ | Adding the navbar
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/Header.jsx
  frontend/src/components/LogCard.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/style.css
  frontend/tailwind.config.js
Due: prettier --write

+ | Add Docker and fix a bug in production mode
  .dockerignore
  .gitignore
  Dockerfile
  Makefile
  caddy/Caddyfile
  caddy/Dockerfile
  docker-compose.yml
  shell.nix
Due: none

~ | Use different port and https in prod
  backend/bonk/settings.py
Due: black

Update README.md
  README.md
Due: none

+ | Add tailwindcss
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.js
  frontend/src/pages/Home/index.jsx
  frontend/src/style.css
  frontend/tailwind.config.js
Due: prettier --write

+ | Added background
  frontend/index.html
  frontend/src/components/Card.jsx
  frontend/src/components/ConnectedLogCard.jsx
  frontend/src/components/Header.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/scripts/bvambient.js
  frontend/tailwind.config.js
Due: prettier --write

~ | Modifying paths
  frontend/src/components/ConnectedLogCard.jsx
  frontend/src/components/Header.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Home/style.css
  frontend/src/pages/Play/index.jsx
  frontend/src/pages/Shop/index.jsx
  frontend/src/pages/Tournament/index.jsx
Due: none

+ | Added play menu without games
  frontend/src/components/Card.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Play/index.jsx
Due: none

+ | Added log in page
  frontend/src/components/Card.jsx
  frontend/src/components/ConnectedLogCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  package-lock.json
Due: none

~ | Update button dimension on navbar, hover on menu
  frontend/src/components/ConnectedLogCard.jsx
  frontend/src/components/Navbar.jsx
Due: none

+ | log card
  frontend/public/assets/bonk.webp
  frontend/src/components/LogCard.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/NotLogCard.jsx
  frontend/src/components/ShopCard.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Play/pong.png
Due: none
