Repository Bonk-Corporation/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black, gdformat

.lintstagedrc:

{
	"*.{js,jsx}": "prettier --write",
	"*.py": "black",
	"*.gd": "gdformat"
}

~ | Dkin the right way
  frontend/pong-client/src/lib.rs
Due: none

~ | Quick fixes for redirection
  backend/ponk/tournament.py
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

+ | Fixed end game message
  backend/pong-server/src/main.rs
  frontend/pong-client/src/lib.rs
Due: none

+ | API call to pong server working
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
  backend/ponk/tournament.py
  frontend/pong-client/src/lib.rs
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

+ | Create LICENSE
  LICENSE
Due: none

+ | Fix tournament pong system
  backend/ponk/tournament.py
Due: black

+ | Add playing status to /me endpoint
  backend/ponk/api.py
  backend/ponk/private.py
  backend/ponk/tournament.py
Due: black

~ | Fix tournament/game_ended endpoint
  backend/pong-server/src/main.rs
  backend/ponk/private.py
  backend/ponk/tournament.py
Due: black

~ | Add boost ball
  backend/pong-server/src/input.rs
Due: none

~ | Redirect if in a tournament
  backend/ponk/tournament.py
  frontend/pong-client/src/lib.rs
Due: black

~ | Users's current_room field is no longer saved in the database
  backend/ponk/api.py
  backend/ponk/migrations/0002_user_current_room.py
  backend/ponk/models.py
  backend/ponk/tournament.py
Due: black

~ | Fix leave and join system to handle room conflict
  backend/ponk/tournament.py
Due: black

+ | Add and optimize several tournament endpoints
  backend/ponk/tournament.py
Due: black

+ | Go to /pong or /bonk dont make the user leave the room anymore
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

~ | Random bot colison pos
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
Due: none

+ | Game History should work now
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
  backend/ponk/private.py
  frontend/pong-client/src/render.rs
Due: black

+ | Add play endpoint to play pong
  backend/ponk/tournament.py
Due: black

~ | Corriger la merde d'Antoine
  backend/ponk/tournament.py
Due: black

+ | Default value is bob's room
  frontend/src/pages/Tournament/Menu.jsx
Due: prettier --write

~ | Fixed join
  backend/ponk/tournament.py
Due: black

~ | Fixing room properties
  frontend/src/components/Tournament/PlayerCard.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

~ | Redirecting everyone
  backend/ponk/tournament.py
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

~ | Use body instead of url args
  backend/ponk/tournament.py
  frontend/src/pages/Tournament/Menu.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

+ | Authorized urls with /
  frontend/src/components/Navbar/Navbar.jsx
Due: prettier --write

~ | Let users kick other users
  backend/ponk/tournament.py
  frontend/src/components/Tournament/PlayerCard.jsx
Due: prettier --write, black

~ | Fix get info tournaments
  backend/ponk/tournament.py
Due: black

+ | Add phases system
  backend/ponk/tournament.py
Due: black

+ | Added api key to reqwest
  backend/media/images/victorosaurusrex.jpg
  backend/pong-server/src/main.rs
Due: none

~ | Fixed buttons and play activation in error case
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

+ | Attempt to link tournaments to the backend
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/components/Tournament/PlayerCard.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Tournament/Menu.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

+ | Started rooms/tournament part
  backend/pong-server/src/main.rs
Due: none

~ | Advancing on pong tournament
  backend/pong-server/src/main.rs
Due: none

~ | Redirect to /tournament instead of /
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

+ | Add tournaments endpoint
  backend/ponk/api.py
  backend/ponk/tournament.py
Due: black

+ | Tournamant pong backend
  backend/pong-server/Cargo.lock
  backend/pong-server/Cargo.toml
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
  shell.nix
Due: none

~ | Using window location to know the next location
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write
