Repository Bonk-Corporation/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black

.lintstagedrc:

{
	"*.js": "prettier --write",
	"*.py": "black"
}

parent 17fc93d2742f56b98d119665de1a414d573a512b author demostanis <demostanis@protonmail.com> 1713304114 +0200 committer Bolvic <victor.bolheme@gmail.com> 1714084270 +0200
  .gitignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/style.css
  frontend/tailwind.config.js
  pong/.gitignore
  pong/lipong/.appveyor.yml
  pong/lipong/.github/dependabot.yml
  pong/lipong/.gitignore
  pong/lipong/.travis.yml
  pong/lipong/Cargo.lock
  pong/lipong/Cargo.toml
  pong/lipong/LICENSE_APACHE
  pong/lipong/LICENSE_MIT
  pong/lipong/README.md
  pong/lipong/index.html
  pong/lipong/index.js
  pong/lipong/package-lock.json
  pong/lipong/package.json
  pong/lipong/pnpm-lock.yaml
  pong/lipong/src/game.rs
  pong/lipong/src/lib.rs
  pong/lipong/src/render.rs
  pong/lipong/webpack.config.js
  pong/pong-server/Cargo.lock
  pong/pong-server/Cargo.toml
  pong/pong-server/src/input.rs
  pong/pong-server/src/main.rs
  shell.nix
Due: prettier --write

~ | Redo pnpm-lock.yaml
  frontend/pnpm-lock.yaml
Due: none

+ | Pong
  shell.nix
Due: none

+ | Added ShopItems to models
  backend/bonk/models.py
Due: black

+ | Installed psycopg2 to work with ArrayField
  backend/bonk/models.py
  requirements.txt
Due: black

~ | Bordel nils qui sait pas faire du shell
  shell.nix
Due: none

~ | Modified me func
  backend/bonk/api.py
Due: black

+ | Create DB
  backend/manage.py
  backend/ponk/__init__.py
  backend/ponk/admin.py
  backend/ponk/api.py
  backend/ponk/asgi.py
  backend/ponk/auth.py
  backend/ponk/debug.py
  backend/ponk/ftapi.py
  backend/ponk/migrations/0001_initial.py
  backend/ponk/migrations/__init__.py
  backend/ponk/models.py
  backend/ponk/settings.py
  backend/ponk/templatetags/__init__.py
  backend/ponk/templatetags/setting.py
  backend/ponk/urls.py
  backend/ponk/wsgi.py
  shell.nix
Due: black

~ | Fix problem with DEBUG variable
  backend/ponk/settings.py
  shell.nix
Due: black

~ | Fix laucher for pong server
  shell.nix
Due: none

+ | Add friend_requests to User model
  backend/ponk/admin.py
  backend/ponk/auth.py
  backend/ponk/migrations/0002_shopitems_remove_user_display_name_user_avatar_and_more.py
  backend/ponk/models.py
Due: black

+ | Add friend api and api_decorator
  backend/ponk/api.py
  backend/ponk/api_decorators.py
  backend/ponk/friends.py
Due: black

~ | Modified shop buttons to align with stripes buttons
  frontend/src/components/Shop/ItemSelection.jsx
Due: none

+ | Added menu to tournaments
  frontend/src/components/Tournament/InvitationCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Tournament/Menu.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: none

~ | Using stripe-buy-button
  frontend/index.html
  frontend/src/components/Shop/ItemSelection.jsx
  frontend/src/components/Shop/ShopItem.jsx
  frontend/src/pages/Shop/index.jsx
Due: none

+ | Added friend request
  backend/ponk/api.py
  frontend/src/components/Profile/FriendCard.jsx
  frontend/src/pages/Profile/index.jsx
Due: black

~ | Modified env dir
  frontend/vite.config.js
Due: prettier --write

~ | Whitelist tmux inherited env variable putain
  shell.nix
Due: none

~ | Modified Stripe link
  frontend/src/components/Shop/ItemSelection.jsx
Due: none

+ | Add a stripe webhook
  backend/ponk/api.py
  backend/ponk/money.py
  backend/ponk/skins.json
  frontend/src/components/Shop/ItemSelection.jsx
  requirements.txt
Due: black

+ | Update .env.example
  .env.example
Due: none

~ | Fixed padding bug on tournament menu
  frontend/src/components/Tournament/InvitationCard.jsx
  frontend/src/pages/Tournament/Menu.jsx
Due: none

~ | Modified menu tournament
  frontend/src/components/Tournament/InvitationCard.jsx
  frontend/src/pages/Tournament/Menu.jsx
Due: none

+ | Allowing all hosts in debug mode
  backend/ponk/settings.py
Due: black

+ | Add a stripe webhook
  backend/ponk/api.py
  backend/ponk/migrations/0003_user_skins.py
  backend/ponk/models.py
  backend/ponk/money.py
  backend/ponk/skins.json
  frontend/src/components/Shop/ItemSelection.jsx
  requirements.txt
  shell.nix
Due: black

~ | Format GDScript when committing
  .lintstagedrc
  shell.nix
Due: none
