Repository Bonk-Corporation/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black, gdformat

+ | Create pong bot
  backend/pong-server/Cargo.lock
  backend/pong-server/Cargo.toml
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
  frontend/pong-client/src/render.rs
Due: none

+ | Create pong bot
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
Due: none

~ | Bot upgrade
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
Due: none

~ | Fixed the popup Play while in-game
  frontend/pong-client/src/lib.rs
Due: none

- | Deleting update debug message
  frontend/pong-client/src/lib.rs
Due: none

+ | Trying to add with great effort skin to the BALL
  frontend/pong-client/Cargo.lock
  frontend/pong-client/Cargo.toml
  frontend/pong-client/src/lib.rs
  frontend/pong-client/src/render.rs
Due: none

+ | Ca tourne
  frontend/pong-client/Cargo.toml
  frontend/pong-client/src/game.rs
  frontend/pong-client/src/lib.rs
  frontend/src/components/utils/CTA.jsx
Due: none

~ | Fixing lintstagedrc
  backend/pong-server/src/main.rs
  frontend/pong-client/src/lib.rs
Due: none

~ | Fix vite probleme
  frontend/package.json
Due: none

~ | Updating structs in lib rs
  frontend/pong-client/src/lib.rs
Due: none

~ | Moved pong to frontend
  frontend/pong-client/index.html
  frontend/pong-client/package-lock.json
  frontend/pong-server/Cargo.lock
  frontend/pong-server/Cargo.toml
  frontend/pong-server/src/input.rs
  frontend/pong-server/src/main.rs
Due: none

~ | Fixing lintstagedrc
  .lintstagedrc
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
  frontend/pong-client/src/lib.rs
Due: none

~ | Fixing old error
  backend/ponk/migrations/0011_merge_20240527_1110.py
Due: black

+ | Score ingame added
  frontend/pong-client/src/lib.rs
  frontend/src/pages/Games/Pong.jsx
Due: none

+ | Side shown before game
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
  frontend/pong-client/src/lib.rs
  frontend/src/pages/Games/Pong.jsx
Due: none

+ | Final score board added
  frontend/pong-client/src/lib.rs
  frontend/src/pages/Games/Pong.jsx
Due: none

+ | Added id and name state on Pong play button
  frontend/src/components/utils/CTA.jsx
  frontend/src/pages/Games/Pong.jsx
Due: none

~ | Changed vite config, don't work
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pong-client/src/lib.rs
  frontend/src/pages/Games/Pong.jsx
  frontend/vite.config.js
  frontend/webpack.config.js
Due: prettier --write

~ | Further work on moving pong...
  frontend/src/pages/Games/Pong.jsx
  frontend/vite.config.js
Due: prettier --write

+ | Handle websocket and skins
  backend/pong-server/src/main.rs
  frontend/pong-client/src/lib.rs
  frontend/pong-client/src/render.rs
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/pages/Games/Pong.jsx
Due: none

+ | Breton missing message updated
  backend/media/images/1698841538292.jpeg
  backend/media/images/30HgFdpR_400x400.jpg
  backend/media/images/louis.png
  frontend/src/scripts/languages.js
Due: prettier --write

~ | Merged migrations
  backend/media/images/louis.png
  backend/ponk/migrations/0001_initial.py
  backend/ponk/migrations/0002_image.py
  backend/ponk/migrations/0003_remove_image_name.py
Due: black

+ | Avatar updatable
  backend/media/images/1698841538292.jpeg
  backend/media/images/30HgFdpR_400x400.jpg
  backend/media/images/d1c625cd0008f4d8a8e9574d1c70c3b8.gif
  backend/media/images/louis.jpg
  backend/media/images/louis_0TFxc39.jpg
  backend/media/images/louis_YU67SX5.png
  backend/ponk/api.py
  backend/ponk/migrations/0001_initial.py
  backend/ponk/migrations/0002_image.py
  backend/ponk/migrations/0003_remove_image_name.py
  backend/ponk/models.py
  backend/ponk/settings.py
  backend/ponk/urls.py
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Profile/index.jsx
  requirements.txt
Due: black

~ | Fix migrations
  backend/media/images/louis.jpg
  backend/media/images/louis_0TFxc39.jpg
  backend/media/images/louis_YU67SX5.png
  backend/ponk/migrations/0001_initial.py
Due: black

~ | Launch caddy in the nix-shell
  .gitignore
  Makefile
  backend/ponk/settings.py
  shell.nix
Due: black

- | Remove codespell pre-commit hook
  .husky/pre-commit
Due: none

- | Remove caddy/ subdirectory
  caddy/Caddyfile
  caddy/Dockerfile
Due: none

+ | Readd an empty tmux split for easy development
  shell.nix
Due: none

~ | Move shell.nix's crap to separate files in startup.d
  shell.nix
  startup.d/01-private_api_token
  startup.d/02-source_env
  startup.d/03-env
  startup.d/04-init_db
  startup.d/05-pnpm
  startup.d/06-venv
  startup.d/07-auto_migrate
  startup.d/08-caddy
  startup.d/09-debug
  startup.d/10-frontend_static_build
  startup.d/11-husky
  startup.d/12-tmux
  startup.d/13-stop
Due: none

- | Remove useless shit
  .gitignore
  frontend/package-lock.json
  frontend/pong-client/.github/dependabot.yml
  frontend/pong-client/LICENSE_APACHE
  frontend/pong-client/LICENSE_MIT
  frontend/pong-client/README.md
  frontend/pong-client/index.js
  frontend/pong-client/webpack.config.js
  frontend/public/assets/bonk.webp
  frontend/public/assets/pong_client.wasm
  frontend/public/vite.svg
  frontend/webpack.config.js
  package-lock.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.js
  black: any of: *.py
  gdformat: any of: *.gd
