Repository Bonk-Corporation/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black, gdformat

~ | Update README.md
  README.md
Due: none

~ | Download all skins and serve them ourselves with Caddy
  backend/ponk/skins.json
  skins/aboyreau.png
  skins/acasamit.png
  skins/atellier.png
  skins/autre-dinos.png
  skins/autre-louis.png
  skins/blue.png
  skins/cash.png
  skins/cgodard.png
  skins/convert_image.sh
  skins/data.png
  skins/dinos.png
  skins/encore-dinos.png
  skins/gprigent.png
  skins/green.png
  skins/jcario.png
  skins/kaubry.png
  skins/kylian.png
  skins/laubry.png
  skins/lgalloux.png
  skins/louis.png
  skins/maxborde.png
  skins/mborde.png
  skins/mbordeau.png
  skins/ndavenne.png
  skins/nlaerema.png
  skins/pointing-finger-at-you.png
  skins/red.png
  skins/rriviere.png
  skins/rrouille.png
  skins/vcornill.png
  startup.d/08-caddy
Due: none

+ | Run make on prod
  startup.d/08-caddy
  startup.d/13-django
  startup.d/14-stop
Due: none

~ | Not pinging the api when not logged
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/index.jsx
Due: none

~ | Fixed responsiveness of legal notice
  frontend/index.html
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/index.jsx
Due: none

+ | Add opacity fade to profile cards
  frontend/src/components/Profile/FriendList.jsx
  frontend/src/components/Profile/GameHistory.jsx
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/components/Profile/Stat.jsx
  frontend/src/pages/Profile/index.jsx
Due: none

+ | Added fire pshhhh
  frontend/src/pages/Play/index.jsx
Due: none

+ | Enter key works on forms
  frontend/src/components/Profile/FriendList.jsx
  frontend/src/components/utils/Card.jsx
  frontend/src/components/utils/PopUp.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Auth/Signup.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: none

~ | Navbar on room
  frontend/src/components/Navbar/Navbar.jsx
Due: none

~ | Got rid of Ponk mode and added flames pssshhh
  frontend/src/pages/Play/index.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: none

+ | Added blue flames pssshhhh
  frontend/src/pages/Play/index.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: none

+ | Make Docker work again!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  .dockerignore
  .set_host_ip_address
  Dockerfile
  Makefile
  backend/pong-server/Makefile
  backend/ponk/settings.py
  docker-compose.yml
  docker/pong-server
  docker/transcendence
  shell.nix
  startup.d/04-init_db
  startup.d/08-caddy
  startup.d/10-frontend_static_build
  startup.d/12-tmux
  startup.d/13-django
Due: black

~ | Smaller titles to prevent bugs
  frontend/src/pages/Play/index.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: none

~ | Modified tournaments
  frontend/src/components/Tournament/PlayerCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Tournament/Room.jsx
  frontend/src/scripts/languages.js
Due: prettier --write

+ | Added home button
  frontend/src/pages/Games/Pong.jsx
Due: none

~ | Scroll to bottom and ignore empty messages
  backend/ponk/chat.py
  frontend/src/components/Chat/Chat.jsx
Due: black

~ | Only show online friends in chat
  backend/ponk/chat.py
Due: black

~ | Ping more frequently
  backend/ponk/chat.py
  frontend/src/index.jsx
Due: black

+ | Added profile to distant messages
  backend/ponk/chat.py
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Chat/Message.jsx
Due: black

Path conditions:
  prettier --write: any of: *.js
  black: any of: *.py
  gdformat: any of: *.gd
