Repository Bonk-Corporation/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black

.lintstagedrc:

{
	"*.js": "prettier --write",
	"*.py": "black"
}

~ | Use different port and https in prod
  backend/bonk/settings.py
Due: black

+ | Add tailwindcss
  Makefile
  backend/bonk/settings.py
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.js
  frontend/src/components/GameCard.jsx
  frontend/src/components/Input.jsx
  frontend/src/components/Level.jsx
  frontend/src/components/LogCard.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/NotLogCard.jsx
  frontend/src/components/Payment.jsx
  frontend/src/components/PopUp.jsx
  frontend/src/components/Price.jsx
  frontend/src/components/ProfileCard.jsx
  frontend/src/components/ShopItem.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Play/index.jsx
  frontend/tailwind.config.js
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, black

+ | Added stats
  frontend/src/components/FriendCard.jsx
  frontend/src/components/ProfileCard.jsx
  frontend/src/components/Stat.jsx
  frontend/src/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/tailwind.config.js
  package-lock.json
  package.json
Due: prettier --write

+ | Added component stat
  frontend/src/pages/Profile/index.jsx
  frontend/tailwind.config.js
  pnpm-lock.yaml
Due: prettier --write

~ | Sorted components in folders, added dinosaurs
  frontend/src/components/Navbar/LogCard.jsx
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/NotLogCard.jsx
  frontend/src/components/Profile/FriendCard.jsx
  frontend/src/components/Profile/GameCard.jsx
  frontend/src/components/Profile/Level.jsx
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/components/Profile/Stat.jsx
  frontend/src/components/Shop/BallPresentation.jsx
  frontend/src/components/Shop/Payment.jsx
  frontend/src/components/Shop/Price.jsx
  frontend/src/components/Shop/ShopItem.jsx
  frontend/src/components/utils/CTA.jsx
  frontend/src/components/utils/Card.jsx
  frontend/src/components/utils/Input.jsx
  frontend/src/components/utils/PopUp.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Shop/index.jsx
Due: none

+ | Added tournament page
  frontend/src/components/Tournament/PlayerCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Tournament/index.jsx
Due: none

+ | Add profile in authorized locations
  frontend/src/components/Navbar/Navbar.jsx
Due: none

~ | Responsive shop
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/NotLogCard.jsx
  frontend/src/components/Shop/ShopItem.jsx
  frontend/src/pages/Shop/index.jsx
Due: none

+ | Added sign up page
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/components/Navbar/NotLogCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Signup.jsx
Due: none

+ | Added access to games
  frontend/src/index.jsx
  frontend/src/pages/Games/Bonk.jsx
  frontend/src/pages/Games/Pong.jsx
  frontend/src/pages/Play/index.jsx
Due: none

+ | Add authorized location to navbar
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/index.jsx
Due: none

+ | Added navbar to profile
  frontend/src/components/Navbar/Navbar.jsx
Due: none

~ | Update README.md
  README.md
Due: none

+ | Add another Husky hook to run Black on Python code
  .husky/pre-commit
  .lintstagedrc
Due: none

+ | Add a requirements.txt
  requirements.txt
Due: none

+ | Handling different input types
  frontend/src/components/Input.jsx
  frontend/src/pages/Auth/Login.jsx
Due: none

+ | Add Docker and fix a bug in production mode
  .dockerignore
  .gitignore
  Dockerfile
  Makefile
  caddy/Caddyfile
  caddy/Dockerfile
  docker-compose.yml
  shell.nix
Due: none

~ | Modifying paths
  frontend/src/components/ConnectedLogCard.jsx
  frontend/src/components/Header.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Home/style.css
  frontend/src/pages/Play/index.jsx
  frontend/src/pages/Shop/index.jsx
  frontend/src/pages/Tournament/index.jsx
Due: none

~ | Added sample shop items
  frontend/src/components/LogCard.jsx
  frontend/src/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Shop/index.jsx
Due: none

~ | Prevent a warning when in debug mode
  backend/bonk/settings.py
Due: black

~ | Enter the virtual environment for the run target in the Makefile
  Makefile
Due: none

+ | Added play menu without games
  frontend/src/components/Card.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Play/index.jsx
Due: none

+ | Add another Husky hook to run Prettier
  .husky/pre-commit
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: none

~ | Add a fdev rule in the Makefile
  Makefile
Due: none

+ | Tried to get tailwind
  frontend/package-lock.json
  frontend/pnpm-lock.yaml
  frontend/src/components/BallPresentation.jsx
  frontend/src/components/CTA.jsx
  frontend/src/components/Card.jsx
  frontend/src/components/FriendCard.jsx
  frontend/src/components/GameCard.jsx
  frontend/src/components/Input.jsx
  frontend/src/components/Level.jsx
  frontend/src/components/LogCard.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/NotLogCard.jsx
  frontend/src/components/Payment.jsx
  frontend/src/components/PopUp.jsx
  frontend/src/components/Price.jsx
  frontend/src/components/ProfileCard.jsx
  frontend/src/components/ShopItem.jsx
  frontend/src/index.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Play/index.jsx
  frontend/src/pages/Profile/index.jsx
  frontend/src/pages/Shop/index.jsx
  frontend/src/pages/Tournament/index.jsx
Due: none

~ | Automatically migrate the DB in prod and add the mouse in dev
  shell.nix
Due: none

+ | Add frontend with preact & django-vite
  backend/bonk/settings.py
  backend/bonk/urls.py
  frontend/.gitignore
  frontend/index.html
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/vite.svg
  frontend/src/components/Header.jsx
  frontend/src/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/Home/style.css
  frontend/src/pages/_404.jsx
  frontend/src/style.css
  frontend/vite.config.js
  requirements.txt
  shell.nix
Due: prettier --write, black

- | Remove an unexisting arg
  shell.nix
Due: none

~ | Add Codespell to lint-staged to check code spelling
  .husky/pre-commit
  .lintstagedrc
Due: none

+ | Added shop page
  frontend/index.html
  frontend/src/components/Card.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/ShopCard.jsx
  frontend/src/components/ShopItem.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/pages/Play/index.jsx
  frontend/src/pages/Play/pong.png
  frontend/src/pages/Shop/index.jsx
Due: none

+ | Add tailwindcss
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.js
  frontend/tailwind.config.js
Due: prettier --write

- | Remove useless asgi.py
  backend/bonk/asgi.py
Due: black
