Repository Bonk-Corporation/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black

~ | Tournament works for 2 people
  backend/ponk/tournament.py
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

+ | Slights improvements
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

+ | Implement /invite
  backend/ponk/chat.py
Due: black

- | Bordel Julian qui commit backend/.nfs0000000014c2047900000136
  backend/.nfs0000000014c2047900000136
Due: none

~ | Update README.md
  README.md
Due: none

+ | Added skin orcky
  assets/skins/autre-orcky.png
  assets/skins/encore-orcky.png
  assets/skins/orcky.png
  backend/ponk/skins.json
Due: none

+ | Added skin pote antoine
  assets/skins/autre-pote-antoine.png
  assets/skins/encore-pote-antoine.png
  assets/skins/pote-antoine.png
  backend/ponk/skins.json
Due: none

+ | Plus de skins
  assets/skins/chat-antoine.png
  assets/skins/chat-chen.png
  assets/skins/chat-jesus.png
  assets/skins/chat-nils.png
  assets/skins/chat-yanne.png
  assets/skins/cheveux-1.png
  assets/skins/cheveux-2.png
  assets/skins/cheveux-3.png
  assets/skins/dino-chat.png
  assets/skins/gwen-crous.png
  assets/skins/juju-crous.png
  assets/skins/louistic-2-mais-quand-meme-avec-le-loustic-principal.png
  assets/skins/loustic-3.png
  assets/skins/loustic-principal.png
  assets/skins/monstre-colere.png
  assets/skins/monstre-heureux.png
  assets/skins/monstre-triste.png
  assets/skins/nils-ninja.png
  assets/skins/ninja-effrayant.png
  assets/skins/ryan-ninja.png
  assets/skins/tom-crous.png
  backend/ponk/skins.json
Due: none

+ | Added skin pack contrib
  assets/skins/chayanne-from-emma.png
  assets/skins/vader.png
  assets/skins/ze_ouizarde.png
  backend/ponk/skins.json
Due: none

~ | Change web socket url
  backend/pong-server/src/main.rs
  frontend/pong-client/src/lib.rs
Due: none

~ | Make /avatar a volume instead of /assets
  docker-compose.yml
Due: none

+ | Chat peut-etre work jsp
  frontend/src/components/Chat/Chat.jsx
Due: prettier --write

~ | Choose reverse_proxy's upstream according to whether we're in docker
  startup.d/08-caddy
Due: none

~ | Fixed tired sate and display bugs
  backend/bonk-server/asset/city.svg
  backend/bonk-server/asset/city.svg.import
  backend/bonk-server/map/map.tscn
  backend/bonk-server/player/body.gd
Due: none

+ | Let caddy proxy pong and bonk websockets (for HTTPS)
  startup.d/08-caddy
Due: none

- | Always remove .static
  startup.d/08-caddy
Due: none

~ | Fixed things, added config for release
  backend/bonk-server/asset/Ubuntu-Regular.ttf
  backend/bonk-server/asset/Ubuntu-Regular.ttf.import
  backend/bonk-server/main.gd
  backend/bonk-server/main.tscn
  backend/bonk-server/map/map.gd
  backend/bonk-server/map/map.tscn
  backend/bonk-server/player/body.gd
  backend/bonk-server/player/player.tscn
  backend/bonk-server/settings.gd
  startup.d/12-bonk
Due: none

~ | Connect to correct ws url
  backend/bonk-server/main.gd
Due: none

+ | More and more fixes
  backend/bonk-server/main.gd
Due: none

+ | Fixes
  Makefile
  backend/bonk-server/main.gd
  shell.nix
  startup.d/12-bonk
Due: none

+ | More and more MOOOOOOOOOORE fixes
  backend/bonk-server/main.gd
  backend/ponk/utils.py
Due: black

- | Remove a
  a
Due: none

+ | Run bonk in Docker
  a
  docker-compose.yml
  docker/bonk-server
  shell.nix
  startup.d/08-caddy
  startup.d/12-bonk
  startup.d/14-tmux
  startup.d/15-stop
Due: none

- | Removed logs
  startup.d/08-caddy
Due: none

+ | More fixes
  backend/bonk-server/main.gd
  backend/bonk-server/settings.gd
  startup.d/12-bonk
Due: none

~ | Actually we need to bind on all interfaces
  backend/pong-server/src/main.rs
Due: none

~ | Source .env in pong-server
  shell.nix
Due: none

+ | Let the private API work in Docker
  backend/pong-server/src/main.rs
  backend/ponk/settings.py
  frontend/pong-client/src/lib.rs
  shell.nix
  startup.d/08-caddy
Due: black

+ | Cque gwen afait
  backend/bonk-server/player/body.gd
Due: none

+ | Cant have two same player in same game
  backend/pong-server/src/input.rs
Due: none

+ | Import skins
  backend/ponk/utils.py
Due: black

+ | Tournaments in prod
  backend/ponk/tournament.py
Due: black

Path conditions:
  prettier --write: any of: *.{js,jsx}
  black: any of: *.py
