Repository Bonk-Corporation/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black, codespell -i 3 -w, gdformat

.lintstagedrc:

{
	"*.js": "prettier --write",
	"*.py": "black",
	"*": "codespell -i 3 -w",
	"*.gd": "gdformat"
}

~ | Fixing lintstagedrc
  .lintstagedrc
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
  frontend/pong-client/src/lib.rs
Due: codespell -i 3 -w

+ | Side shown before game
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
  frontend/pong-client/src/lib.rs
  frontend/src/pages/Games/Pong.jsx
Due: codespell -i 3 -w

~ | Fix colision beug
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
  frontend/pong-client/Cargo.lock
  frontend/pong-client/Cargo.toml
  frontend/pong-client/src/lib.rs
  frontend/pong-client/src/render.rs
Due: codespell -i 3 -w

~ | Fixing old error
  backend/ponk/migrations/0011_merge_20240527_1110.py
Due: black, codespell -i 3 -w

~ | Moved pong to frontend
  frontend/pong-client/index.html
  frontend/pong-client/package-lock.json
  frontend/pong-server/Cargo.lock
  frontend/pong-server/Cargo.toml
  frontend/pong-server/src/input.rs
  frontend/pong-server/src/main.rs
Due: codespell -i 3 -w

~ | Rename lipong to pong-client
  frontend/pong-client/package-lock.json
Due: codespell -i 3 -w

~ | Still trying to fix the link between wasm and Vite
  frontend/pong-client/package-lock.json
  frontend/pong-server/src/input.rs
  frontend/pong-server/src/main.rs
  frontend/vite.config.js
Due: prettier --write, codespell -i 3 -w

~ | Further work on moving pong...
  frontend/vite.config.js
Due: prettier --write, codespell -i 3 -w

~ | Fix slide beug
  frontend/pong-server/src/input.rs
  frontend/pong-server/src/main.rs
Due: codespell -i 3 -w

~ | Pong visual enhancement
  frontend/pong-client/index.html
  frontend/pong-server/Cargo.lock
  frontend/pong-server/Cargo.toml
  frontend/pong-server/src/input.rs
  frontend/pong-server/src/main.rs
Due: codespell -i 3 -w

~ | Fixed the popup Play while in-game
  frontend/pong-client/src/lib.rs
Due: codespell -i 3 -w

+ | Create pong bot
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
Due: codespell -i 3 -w

~ | Fix colision beug
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
  frontend/pong-client/src/lib.rs
Due: codespell -i 3 -w

+ | Side shown before game
  backend/pong-server/src/main.rs
  frontend/pong-client/src/lib.rs
Due: codespell -i 3 -w

~ | Fixing lintstagedrc
  backend/pong-server/src/main.rs
  frontend/pong-client/src/lib.rs
Due: codespell -i 3 -w

+ | Trying to add with great effort skin to the BALL
  frontend/pong-client/Cargo.lock
  frontend/pong-client/Cargo.toml
  frontend/pong-client/src/lib.rs
  frontend/pong-client/src/render.rs
Due: codespell -i 3 -w

- | Deleting update debug message
  frontend/pong-client/src/lib.rs
Due: codespell -i 3 -w

~ | Updating structs in lib rs
  frontend/pong-client/src/lib.rs
Due: codespell -i 3 -w

~ | Fix migrations
  backend/ponk/migrations/0001_initial.py
  backend/ponk/migrations/0011_merge_20240527_1110.py
Due: black, codespell -i 3 -w

+ | Handle websocket and skins
  backend/pong-server/src/main.rs
  frontend/pong-client/src/lib.rs
  frontend/pong-client/src/render.rs
  frontend/src/components/Navbar/Navbar.jsx
  frontend/src/pages/Games/Pong.jsx
Due: codespell -i 3 -w

~ | Rename lipong to pong-client
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pong-client/Cargo.toml
  frontend/pong-client/package-lock.json
Due: codespell -i 3 -w

+ | Adding id to canvas
  frontend/src/pages/Games/Pong.jsx
Due: codespell -i 3 -w

~ | Fix slide beug
  .gitignore
  frontend/pong-client/src/lib.rs
  frontend/pong-server/src/input.rs
  frontend/pong-server/src/main.rs
Due: codespell -i 3 -w

~ | Pong visual enhancement
  backend/pong-server/Cargo.lock
  backend/pong-server/Cargo.toml
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
  frontend/pong-client/index.html
  frontend/src/pages/Games/Pong.jsx
  shell.nix
Due: codespell -i 3 -w

~ | Still trying to fix the link between wasm and Vite
  frontend/pnpm-lock.yaml
  frontend/pong-client/package-lock.json
  frontend/pong-client/src/lib.rs
  frontend/pong-server/src/input.rs
  frontend/pong-server/src/main.rs
  frontend/public/assets/pong_client.wasm
  frontend/src/pages/Games/Pong.jsx
  frontend/vite.config.js
Due: prettier --write, codespell -i 3 -w

~ | Moved pong to frontend
  frontend/pong-client/.appveyor.yml
  frontend/pong-client/.github/dependabot.yml
  frontend/pong-client/.gitignore
  frontend/pong-client/.travis.yml
  frontend/pong-client/Cargo.toml
  frontend/pong-client/LICENSE_APACHE
  frontend/pong-client/LICENSE_MIT
  frontend/pong-client/README.md
  frontend/pong-client/index.html
  frontend/pong-client/index.js
  frontend/pong-client/package-lock.json
  frontend/pong-client/package.json
  frontend/pong-client/pnpm-lock.yaml
  frontend/pong-client/src/game.rs
  frontend/pong-client/src/lib.rs
  frontend/pong-client/src/render.rs
  frontend/pong-client/webpack.config.js
  frontend/pong-server/Cargo.lock
  frontend/pong-server/Cargo.toml
  frontend/pong-server/src/input.rs
  frontend/pong-server/src/main.rs
Due: prettier --write, codespell -i 3 -w

~ | Move static directories
  backend/ponk/settings.py
  docker-compose.yml
Due: black, codespell -i 3 -w

~ | Fixed the popup Play while in-game
  frontend/pong-client/Cargo.toml
  frontend/pong-client/src/lib.rs
  frontend/src/components/utils/Card.jsx
  frontend/src/pages/Games/Pong.jsx
Due: codespell -i 3 -w

~ | Increase FPS
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
Due: codespell -i 3 -w

+ | Added Score Card
  frontend/src/pages/Games/Pong.jsx
Due: codespell -i 3 -w

+ | Added score
  frontend/pong-client/src/lib.rs
  frontend/src/pages/Games/Pong.jsx
Due: codespell -i 3 -w
