Repository Bonk-Corporation/ft_transcendence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, black, gdformat

.lintstagedrc:

{
	"*.{js,jsx}": "prettier --write",
	"*.py": "black",
	"*.gd": "gdformat"
}

~ | Change current_room field to User instead of username
  backend/ponk/migrations/0002_user_current_room.py
  backend/ponk/models.py
  backend/ponk/tournament.py
Due: black

+ | Attempt to link tournaments to the backend
  frontend/src/components/Profile/ProfileCard.jsx
  frontend/src/components/Tournament/PlayerCard.jsx
  frontend/src/pages/Auth/Login.jsx
  frontend/src/pages/Tournament/Menu.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

~ | Users's current_room field is no longer saved in the database
  backend/ponk/api.py
  backend/ponk/migrations/0002_user_current_room.py
  backend/ponk/models.py
  backend/ponk/tournament.py
Due: black

~ | Corriger la merde d'Antoine
  backend/ponk/tournament.py
Due: black

+ | Link the privacy toggle button with the backend
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

~ | Use body instead of url args
  backend/ponk/tournament.py
  frontend/src/pages/Tournament/Menu.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

~ | Redirect to /tournament instead of /
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

~ | Link the game mode switching to the backend
  backend/ponk/tournament.py
  frontend/src/components/Tournament/PlayerCard.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

+ | Default value is bob's room
  frontend/src/pages/Tournament/Menu.jsx
Due: prettier --write

~ | Fix leave and join system to handle room conflict
  backend/ponk/tournament.py
Due: black

~ | Let users kick other users
  backend/ponk/tournament.py
  frontend/src/components/Tournament/PlayerCard.jsx
Due: prettier --write, black

~ | Fixed default value
  frontend/src/pages/Tournament/Menu.jsx
Due: prettier --write

+ | Add play endpoint to play pong
  backend/ponk/tournament.py
Due: black

~ | Fixing log out
  frontend/src/components/Navbar/Navbar.jsx
Due: prettier --write

~ | Fix tournament input
  frontend/src/pages/Tournament/Menu.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

+ | Add play button logic
  backend/ponk/tournament.py
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

+ | Add phases system
  backend/ponk/tournament.py
Due: black

- | Removed tsignore
  frontend/src/components/Profile/FriendList.jsx
  frontend/src/components/Shop/ItemSelection.jsx
Due: prettier --write

~ | Fixing room properties
  frontend/src/components/Tournament/PlayerCard.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

+ | Authorized urls with /
  frontend/src/components/Navbar/Navbar.jsx
Due: prettier --write

~ | Fixed log in
  frontend/src/pages/Auth/Login.jsx
Due: prettier --write

+ | Go to /pong or /bonk dont make the user leave the room anymore
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

+ | Add is_playing endpoint
  backend/ponk/tournament.py
Due: black

~ | Fixed schemas
  frontend/src/components/Tournament/Schema.jsx
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

~ | Using window location to know the next location
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

~ | Redirecting everyone
  backend/ponk/tournament.py
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

+ | Redirecting everyone to pong on play
  backend/ponk/tournament.py
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write, black

~ | Fixed buttons and play activation in error case
  frontend/src/pages/Tournament/Room.jsx
Due: prettier --write

+ | Added 1/X players on cards
  backend/ponk/tournament.py
  frontend/src/components/Tournament/InvitationCard.jsx
Due: prettier --write, black

+ | Add phase system
  backend/ponk/tournament.py
Due: black

~ | Advancing on pong tournament
  backend/pong-server/src/main.rs
Due: none

~ | Skin fully implemented
  frontend/pong-client/src/lib.rs
  frontend/pong-client/src/render.rs
Due: none

+ | Continuing rooms/tournament part
  backend/pong-server/src/main.rs
Due: none

~ | Improving bot credibility
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
Due: none

+ | Game History should work now
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
  backend/ponk/private.py
  frontend/pong-client/src/render.rs
Due: black

+ | Tournamant pong backend
  backend/pong-server/Cargo.lock
  backend/pong-server/Cargo.toml
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
  shell.nix
Due: none

~ | Random bot colison pos
  backend/pong-server/src/input.rs
  backend/pong-server/src/main.rs
Due: none

+ | Added api key to reqwest
  backend/media/images/victorosaurusrex.jpg
  backend/pong-server/src/main.rs
Due: none

~ | Fix colision probleme
  backend/pong-server/src/input.rs
Due: none

+ | Started rooms/tournament part
  backend/pong-server/src/main.rs
Due: none
